*,
*:after,
*:before {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	background-image: linear-gradient(
		20deg,
		rgba(255, 255, 100, 1.0),
		rgba(100, 255, 200, 1.0)
	);
}
.main-header,
.navlist,
.socials-header,
.title-header-list {
	display: inline-flex;
	column-gap: 20px;
	align-items: center;	
}

.main-header {
	background-color: rgba(255, 255, 255, 1);
	padding-inline: 30px;
	position: fixed;
	inset: 1rem 1rem auto 1rem;
	height: 5rem;
	justify-content: space-between;
	transition: 300ms ease-in-out;
}
.navbar-scrolled {
	height: 3rem;
	inset: 0 0 auto 0;
	background-color: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(10px) hue-rotate(-30deg);
	padding: 5px 10px;
}
.navlist-link {
	color: black;
	text-transform: uppercase;
}
.navlist-item:hover {
	color: red;
	transform: translateY(10px);
}
.title-logo {
	width: 35px;
	aspect-ratio: 1;
}
.logo-header {
	width: 30px;
	aspect-ratio: 1;
}
.title-header-list {
	padding: 0;
}

li { list-style: none; }

a {
	text-decoration: none;
}

.carousal {
	display: flex;
	flex-flow: row;
	column-gap: 0;
	justify-content: space-between;
	margin: 6rem 1rem 1rem 1rem;
	height: calc(100vh - 7rem);
}

.carousal-item{
	overflow: hidden;
	z-index: -1;
	height: calc(100vh - 7rem);
	aspect-ratio: 1;
	background-position: center;
	background-size: cover;
	background-image: url(../images/b1.jpg);
}

.fade {
	animation: 1.5s fade;
}

@keyframes fade{
	from { 
		transform: translateX(-100px);
		opacity: 0.5;
	}
	to  { 
		transform: translateX(0);
		opacity: 1;
	}
}

.carousal-banner {
	padding: 30vh 8vw;
	background-color: skyblue;
	flex-grow: 1;
	display: grid;
	align-items:  center;
}

.explore-button {
	color: white;
	text-transform: uppercase;
	font-style: bold;
	width: 10rem;
	padding: 10px;
	background-color: rgba(255, 100, 100, 1.0);
}

.gallery {
	margin: 1rem;
}

.gallery-heading {
	width: 100%;
	height: 3rem;
	background-color: white;
	display: grid;
	align-items: center;
	margin-block-end: 1rem;
	padding-inline-start: 1rem;
}
.gallery-scroller {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 40%;
	/*gap: 1rem;*/
	overflow-x: auto;
	overscroll-behavior-inline: contain;
}

.gallery-element {
	border-right: 1px solid rgba(255, 255, 255, 0.4);
	display: grid;
	background-color: skyblue;
	margin: 0 0 1rem 0;
	height: calc(100vh - 11rem);
	padding-block-end: 1rem;
}

.gallery-element > img {
	inline-size: 100%;
}

.snaps-inline {
	scroll-snap-type: inline mandatory;
	/*scroll-padding-inline: 1rem;*/
}

.snaps-inline > * {
	scroll-snap-align: start;
}

.gallery-link,
.title-gallery,
.details-gallery,
.models-name,
.models-info,
.work-title {
	margin-inline: 1rem;
}

.gallery-link {
	padding: 10px;
	width: 10rem;
	background-color: rgba(255, 100, 100, 1.0);
	color: white;
	height: 2.5rem;
	text-transform: uppercase;
}
.models {
	margin: 1rem;
}
.models-container {
	margin-block-start: 1rem;
	display: grid;
	grid-auto-flow: column;
	grid-gap: 0;
	height: calc(100vh - 9rem);
}

.models-title {
	display: grid;
	align-items: center;
	background-color: white;
	padding-inline: 1rem;
	height: 3rem;
	flex-grow: 1;
}

.models-thumbnail {
	size: 100%;
	flex-grow: 1;
}

.models-element {
	overflow: hidden;
	display: flex;
	flex-flow: column;
	/*justify-content: space-between;*/
}

.models-info {
	flex-grow: 1;
}

.work-title {
	background-color: white;
	height: 3rem;
	display: grid;
	align-items: center;
	padding-inline: 1rem;
}

.work-banner {
	background-color: rgba(180, 160, 120, 1.0);
	display: flex;
	margin: 1rem;
	height: calc(100vh - 9rem);
}

/*.work-banner > img {
	inline: 100%;
}*/

.work-logo > img {
	width: 4rem;
	margin-block-end: 2rem;
	aspect-ratio: 1;
}

.work-item-container {
	display: grid;
	place-items: center;
	flex-grow: 1;
}

.work-item {
	display: grid;
	place-items: center;
	height: 10rem;
	width: 15rem;
}

.work-container {
	display: flex;
	flex-wrap: wrap;
	width: 35rem;
	height: 25rem;
	gap: 5rem;
}

.work-info {
	text-align: center;
}

.work-heading {
	display: grid;
	place-items: center;
	padding-inline: 1rem;
	height: 2.5rem;
	width: 10rem;
	background-color: black;
	color: white;
	font-size: 1rem;
	margin: 0;
}






/*-- footer --*/
.footer{
	transform: translateY(1rem);
	background:#080808;
}

.footer-grid {
	width: 30rem;
}
.footer-grid h3{
    color: #FFFFFF;
    margin: 0 0 1em 0;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
	text-align: center;
	font-family: 'Arimo', sans-serif;
}
.footer-grid p{
    color: #8a8a8a;
    font-size: .9em;
    line-height: 1.8em;
    margin: 0;
}
.footer-grid ul{
	padding:0;
	margin:0;
}
.footer-grid ul li{
    display: block;
    margin-bottom: .5em;
    color: #8a8a8a;
    font-size: .9em;
	text-align: center;
}
.footer-grid ul li a{
    color: #FFFFFF;
    text-decoration: none;
    margin-left: .5em;
}
.footer-grid ul li a:focus{
	outline:none;
}
.footer-grid ul li a:hover{
	color:#8a8a8a;
}
.footer-grid ul li:last-child{
	margin-bottom:0;
}
.footer-grid ul li.text a{
    color: #8a8a8a !important;
    margin-bottom: .5em !important;
    font-size: .9em !important;
}
.footer-grid ul li.text a:hover{
	color:#FFFFFF !important;
}

.footer-grid form {
	display: grid;
	place-items: center;
}
.footer-grid form input[type="email"] {
	background: #FFFFFF;
    box-shadow: none !important;
    padding: 10px 10px;
    color: #000000;
    font-size: .9em;
    width: 100% !important;
    border: 1px solid #ffffff;
    margin: 0 0 1em 0;
}
.footer-grid form input[type="submit"] {
	color: #ffffff;
    font-size: .875em;
	width: 38%;
    border: solid 2px #FFFFFF;
    padding: .5em 2em;
    text-decoration: none;
    background: none;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.footer-grid form input[type="submit"]:hover {
    background: #F44336;
    color: #FFFFFF;
    border: solid 2px #F44336;
}
.footer-social-grids {
    margin: 1em 0 0 0;
}
.footer-social-grids ul {
    padding: 0;
    margin: 0;
	text-align: center;
}
.footer-social-grids ul li {
    display: inline-block !important;
    margin: 0 .5em 0 0 !important;
}
.footer-social-grids ul li a {
    text-align: center;
}
.footer-social-grids ul li a i.fa.fa-facebook, .footer-social-grids ul li a i.fa.fa-twitter, .footer-social-grids ul li a i.fa.fa-rss{
    height: 30px;
    width: 30px;
    border: solid 2px #b5b5b5;
    line-height: 29px;
    background: none;
    color: #b5b5b5;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.footer-social-grids ul li a i.fa.fa-facebook:hover {
	border: solid 2px #3b5998;
	background:#3b5998;
    color: #FFFFFF;
}
.footer-social-grids ul li a i.fa.fa-twitter:hover{
	border: solid 2px #55acee;
	background:#55acee;
	color: #FFFFFF;
}
.footer-social-grids ul li a i.fa.fa-rss:hover{
	border: solid 2px #f26522;
	background:#f26522;
	color: #FFFFFF;
}
.footer-bottom p {
    text-align: center;
    color: #fff;
	margin-top: 2em;
}
.footer-bottom a:hover {
    color: #f53753;
}

.agile-footer-grids {
	width: 100%;
	padding: 2rem 10rem;
	display: flex;
	justify-content: space-between;
}
/*-- //footer --*/