*,
*:after,
*:before {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	background-color: rgba(20, 30, 50, 1.0);
	/*background-image: linear-gradient(
		20deg,
		rgba(255, 255, 100, 1.0),
		rgba(100, 255, 200, 1.0)
	);*/
}

.main-header,
.navlist,
.socials-header,
.title-header-list {
	display: inline-flex;
	column-gap: 20px;
	align-items: center;
}

.main-header {
	background-color: rgba(255, 255, 255, 1);
	padding-inline: 30px;
	position: fixed;
	inset: 1rem 1rem auto 1rem;
	height: 5rem;
	justify-content: space-between;
	transition: 500ms ease-in-out;
}

.navbar-scrolled {
	z-index: 1000;
	height: 3rem;
	inset: 0 0 auto 0;
	background-color: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(10px) hue-rotate(-30deg);
	padding: 5px 10px;
}

.navlist-link {
	color: black;
	text-transform: uppercase;
}

.navlist-item:hover {
	color: red;
	transform: translateY(10px);
}

.title-logo {
	width: 35px;
	aspect-ratio: 1;
}

.logo-header {
	width: 30px;
	aspect-ratio: 1;
}

.title-header-list {
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

.carousal {
	display: flex;
	flex-flow: row;
	column-gap: 0;
	justify-content: space-between;
	margin: 6rem 1rem 1rem 1rem;
	height: calc(100vh - 7rem);
}

.carousal-item {
	overflow: hidden;
	z-index: -1;
	height: calc(100vh - 7rem);
	aspect-ratio: 1;
	background-position: center;
	background-size: cover;
	background-image: url(../images/b1.jpg);
}

.fade {
	animation: 1.5s fade;
}

@keyframes fade {
	from {
		transform: translateX(-100px);
		opacity: 0.5;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

.carousal-banner {
	padding: 30vh 8vw;
	background-color: skyblue;
	flex-grow: 1;
	display: grid;
	align-items: center;
}

.explore-button {
	color: white;
	text-transform: uppercase;
	font-style: bold;
	width: 10rem;
	padding: 10px;
	background-color: rgba(255, 100, 100, 1.0);
}

.brands {
	margin: 1rem;
}

.brands-heading {
	width: 100%;
	height: 3rem;
	background-color: white;
	display: grid;
	align-items: center;
	margin-block-end: 1rem;
	padding-inline-start: 1rem;
}

.brand-container {
	overflow: hidden;
	height: calc(100vh - 10rem);
	display: grid;
	grid-template-columns: 1fr 60vw;
	background-color: rgba(20, 70, 50, 1.0);
}

.brands-poster {
	color: white;
	display: grid;
	align-items: center;
	padding-inline: 4rem;
	padding-block: 20vh;
}

.brands-element {
	height: calc(100vh - 10rem);
	z-index: 10;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}

.snaps-inline {
	scroll-snap-type: inline mandatory;
	/*scroll-padding-inline: 1rem;*/
}

.snaps-inline>* {
	scroll-snap-align: start;
}

.brands-link,
.title-brands,
.details-brands,
.models-name,
.models-info,
.work-title {
	margin-inline: 1rem;
}

.models {
	margin: 1rem;
}

.models-container {
	margin-block-start: 1rem;
	display: grid;
	grid-auto-flow: column;
	grid-gap: 0;
	height: calc(100vh - 9rem);
}

.models-title {
	display: grid;
	align-items: center;
	background-color: white;
	padding-inline: 1rem;
	height: 3rem;
	flex-grow: 1;
}

.models-thumbnail {
	size: 100%;
	flex-grow: 1;
}

.models-element {
	overflow: hidden;
	display: flex;
	flex-flow: column;
	/*justify-content: space-between;*/
}

.models-info {
	flex-grow: 1;
}

.work-title {
	background-color: white;
	height: 3rem;
	display: grid;
	align-items: center;
	padding-inline: 1rem;
}

.work-banner {
	background-color: rgba(180, 160, 120, 1.0);
	display: flex;
	margin: 1rem;
	height: calc(100vh - 9rem);
}

/*.work-banner > img {
	inline: 100%;
}*/

.work-logo>img {
	width: 4rem;
	margin-block-end: 2rem;
	aspect-ratio: 1;
}

.work-item-container {
	display: grid;
	place-items: center;
	flex-grow: 1;
}

.work-item {
	display: grid;
	place-items: center;
	height: 10rem;
	width: 15rem;
}

.work-container {
	display: flex;
	flex-wrap: wrap;
	width: 35rem;
	height: 25rem;
	gap: 5rem;
}

.work-info {
	text-align: center;
}

.work-heading {
	display: grid;
	place-items: center;
	padding-inline: 1rem;
	height: 2.5rem;
	width: 15rem;
	background-color: black;
	color: white;
	font-size: 1rem;
	margin: 0;
}


/* gallery container */

/* The magic */

.gallery-heading {
	margin-inline: 1rem;
	background-color: white;
	height: 3rem;
	display: flex;
	align-items: center;
	padding-inline-start: 1rem;
}

.col {
	overflow: hidden;
	position: relative;
}

.slide {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/* 
    Visibility delay gives the previously hovered element time to slide out before disappearing.
    Remove the `visibility` transition to slide in current element without sliding out previous element
  */
	transition: all 0.275s ease-in-out, visibility 0s 0.275s;
	visibility: hidden;
	will-change: transform;
	transform: translateY(100%);
}

.row:hover~.row .slide {
	transform: translateY(-100%);
}

.row:hover .slide {
	transform: translateX(100%);
}

.row:hover .col:hover~.col .slide {
	transform: translateX(-100%);
}

.row:hover .col:hover .slide {
	transform: none;
	visibility: visible;
	transition-delay: 0s;
}

/* Pen styling */

.container {
	background-color: white;
	margin: 1rem;
	padding: 0;
	max-width: calc(100vw - 2rem);
}

.row {
	display: flex;
}

.col {
	color: #fff;
	flex: 1 1 auto;
	min-height: calc(50vh - 5rem);
	position: relative;
}

.col h2 {
	font-weight: 300;
	font-size: 1rem;
	margin: 0;
	padding: 8px;
	position: absolute;
	bottom: 1.5rem;
	right: 1.5rem;
	z-index: 0;
	background-color: rgba(220, 80, 80, 1.0);
}

.col:nth-child(2) {
	min-width: 20%;
}

.col:nth-child(4) {
	min-width: 33%;
}

.col:nth-child(3)+.col:nth-child(3) {
	min-width: 50%;
}

.photo-container {
	background: #0f0523 50% 50%/cover;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: 1s;
	transform-origin: bottom right;
}

.photo-container::before {
	/*background: linear-gradient(transparent, rgba(67, 17, 51, 0.5), #000320);*/
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.col:hover .photo-container {
	transform: scale(1.25);
}

.slide {
	background: rgba(25, 1, 21, 0.8);
	padding: 0 1.5rem;
}

/* end of the magic container */


/*-- footer --*/
.footer {
	transform: translateY(1rem);
	background: #080808;
}

.footer-grid {
	width: 30rem;
}

.footer-grid h3 {
	color: #FFFFFF;
	margin: 0 0 1em 0;
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 4px;
	text-align: center;
	font-family: 'Arimo', sans-serif;
}

.footer-grid p {
	color: #8a8a8a;
	font-size: .9em;
	line-height: 1.8em;
	margin: 0;
}

.footer-grid ul {
	padding: 0;
	margin: 0;
}

.footer-grid ul li {
	display: block;
	margin-bottom: .5em;
	color: #8a8a8a;
	font-size: .9em;
	text-align: center;
}

.footer-grid ul li a {
	color: #FFFFFF;
	text-decoration: none;
	margin-left: .5em;
}

.footer-grid ul li a:focus {
	outline: none;
}

.footer-grid ul li a:hover {
	color: #8a8a8a;
}

.footer-grid ul li:last-child {
	margin-bottom: 0;
}

.footer-grid ul li.text a {
	color: #8a8a8a !important;
	margin-bottom: .5em !important;
	font-size: .9em !important;
}

.footer-grid ul li.text a:hover {
	color: #FFFFFF !important;
}

.footer-grid form {
	display: grid;
	place-items: center;
}

.footer-grid form input[type="email"] {
	background: #FFFFFF;
	box-shadow: none !important;
	padding: 10px 10px;
	color: #000000;
	font-size: .9em;
	width: 100% !important;
	border: 1px solid #ffffff;
	margin: 0 0 1em 0;
}

.footer-grid form input[type="submit"] {
	color: #ffffff;
	font-size: .875em;
	width: 38%;
	border: solid 2px #FFFFFF;
	padding: .5em 2em;
	text-decoration: none;
	background: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.footer-grid form input[type="submit"]:hover {
	background: #F44336;
	color: #FFFFFF;
	border: solid 2px #F44336;
}

.footer-social-grids {
	margin: 1em 0 0 0;
}

.footer-social-grids ul {
	padding: 0;
	margin: 0;
	text-align: center;
}

.footer-social-grids ul li {
	display: inline-block !important;
	margin: 0 .5em 0 0 !important;
}

.footer-social-grids ul li a {
	text-align: center;
}

.footer-social-grids ul li a i.fa.fa-facebook,
.footer-social-grids ul li a i.fa.fa-twitter,
.footer-social-grids ul li a i.fa.fa-rss {
	display: grid;
	place-items: center;
	height: 35px;
	width: 35px;
	border: solid 2px #b5b5b5;
	line-height: 29px;
	background: none;
	color: #b5b5b5;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.footer-social-grids ul li a i.fa.fa-facebook:hover {
	border: solid 2px #3b5998;
	background: #3b5998;
	color: #FFFFFF;
}

.footer-social-grids ul li a i.fa.fa-twitter:hover {
	border: solid 2px #55acee;
	background: #55acee;
	color: #FFFFFF;
}

.footer-social-grids ul li a i.fa.fa-rss:hover {
	border: solid 2px #f26522;
	background: #f26522;
	color: #FFFFFF;
}

.footer-bottom p {
	text-align: center;
	color: #fff;
	margin-top: 2em;
}

.footer-bottom a:hover {
	color: #f53753;
}

.agile-footer-grids {
	width: 100%;
	padding: 2rem 10rem;
	display: flex;
	justify-content: space-between;
}

/*-- //footer --*/